body {
    background-image: url(fondo.jpg);
}
h1, h3, h4 {
    color: black;
    background-color: aquamarine;
    text-align: center;    
}
.divClass {
    align-items: center;
    justify-content: center;
}
img { width: 400px;}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: bisque;
    padding: 50px;
    border-color: red;
    border-style: double;
    border-width: 20px;
}
#spanId {
    display: block;
    font-size: 18px;
    margin: 50px;
    text-align: center;
    color: black;
    background-color: aquamarine;
}